//Colors

$color-white-egg: #fff;
$color-white-bone: #f5f5f5;
$color-pink-skin: #f9f4dc;
$color-orange-chicken: #e17334;
$color-orange-tomato: #e95626;
$color-red-tomato: #bd1010;
$color-red-blood: #420101;
$color-green-hospital: #a2deaf;
$color-blue-summer: #a0c0cf;
$color-blue-sky: #438792;
$color-blue-twitter: #00a0f5;
$color-green-blue: #114e4e;
$color-grey-blue: #3e5b65;
$color-grey-rabbit: #d8d8d8;
$color-grey-pale: #dfe5eb;
$color-grey-light: #dde9ed;
$color-grey-silver: #bfcdd0;
$color-grey-wolf: #d5d5d5;
$color-grey-mouse: #c5c5c5;
$color-grey-rat: #6b6b6b;
$color-grey-rino: #979797;
$color-grey-stone: #54585a;
$color-black-batman: #000;

//Fonts

$font-family-primary: 'Open Sans',
sans-serif;
$font-family-secondary: 'Merriweather',
serif;
$font-family-tertiary: "Comic Sans MS",
"Chilanka",
"Gaegu",
sans-serif;

$font-size-base: 16px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 900;
