.footer {
  width: 100%;
  height: 110px;
  border-top: 1px solid $color-grey-rabbit;
  background-color: $color-white-egg;
  // flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.copyright__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.copyright {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.43;
  color: $color-grey-rat;
  opacity: 0.5;
  
}

.container__logos{
  display: flex;
  align-items: center;
}

.logo__image {
  height: 30px;
}

.adalab-logo__link {
  width: 103px;
  height: 40px;
}

.plerk-link {
  height: 80px;
}

.adalab-logo__image {
  width: 100%;
  height: 100%;
}

@media all and (min-width: 768px) {
  .footer{
    height: 90px;
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright__container{
    flex-direction: row;
  }
  .copyright{
    margin: 0;
  }
  .logo__image{
    margin-left: 10px;
  }
  .plerk-link{
    margin-right: 10px;
  }
  }
  